<div class="modal fade" id="actualizarCompraModal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="container p-3">
                <ng-container *ngIf="!compra">
                    <h5>Buscar por código</h5>
                    <hr>
                </ng-container>
                <div class="row mt-4" *ngIf="!compra; else actualizar">
                    <div class="col-sm-8 mb-2">
                        <label class="floating floating-sm m-0">
                            <input type="text" class="form-control form-control-sm" placeholder="Ingrese su código"
                                id="codigoCompra" [formControl]="codigoCompra">
                            <span>Nombre completo</span>
                        </label>
                    </div>
                    <div class="col-sm-4">
                        <button type="button" class="btn btn-sm col-12 btn-success" [disabled]="codigoCompra.invalid"
                            (click)="buscar()"><span class="fas fa-search"></span> Buscar</button>
                    </div>
                </div>
                <ng-template #actualizar>
                    <h4 class="text-center">{{moto.marca}} {{moto.nombreMoto}}</h4>
                    <div class="text-center mb-3">
                        <img src="assets/images/{{moto.nombreImagen}}" alt="Imagen moto" width="40%">
                    </div>
                    <div class="row" *ngIf="compra.estado === 'I'; else completada">
                        <div class="col">
                            <h6 class="text-secondary">Valor total: <span class="text-dark">{{compra.valorTotal |
                                    currency}}</span>
                            </h6>
                        </div>
                        <div class="col">
                            <h6 class="text-secondary">Valor restante: <span class="text-dark">
                                    {{compra.abono | currency}}</span>
                            </h6>
                        </div>
                    </div>
                    <ng-template #completada>
                        <div class="alert alert-success" role="alert">
                            Felicidades, la compra de esta moto está finalizada, que la disfrute
                        </div>
                    </ng-template>
                </ng-template>
                <hr>
                <button *ngIf="compra && compra.estado === 'I'" type="button"
                    class="btn btn-sm btn-success float-end px-4" (click)="completarCompra()"> <i
                        class="fas fa-check-circle"></i> Pagar</button>
                <button *ngIf="compra && compra.estado === 'C'" type="button"
                    class="btn btn-sm btn-success float-end px-4" (click)="resetear()"> <i
                        class="fas fa-check-circle"></i> Buscar otra</button>
                <button type="button" class="btn btn-sm btn-secondary px-4" data-bs-dismiss="modal"
                    (click)="resetear()"><span class="fas fa-times-circle"></span> Cerrar</button>
            </div>
        </div>
    </div>
</div>