.back {
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 4000;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: #29292940;
    position: fixed;
}