<div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasCompra" aria-labelledby="offcanvasRightLabel">
  <div class="offcanvas-body" *ngIf="moto">
    <button type="button" class="btn-close text-reset float-end" data-bs-dismiss="offcanvas"
      aria-label="Close"></button>
    <h4 class="text-center">{{moto.marca}} {{moto.nombreMoto}}</h4>
    <div class="text-center imagen">
      <img src="assets/images/{{moto.nombreImagen}}" alt="Imagen moto" width="50%">
    </div>
    <hr>
    <h5 class="text-center">Mis datos</h5>
    <form [formGroup]="compraFormulario" *ngIf="compraFormulario" class="was-validated">
      <div class="row">
        <div class="col-sm-12">
          <label class="floating floating-sm mb-2">
            <input validar type="text" class="form-control form-control-sm" placeholder="Ingrese su nombre completo"
              id="nombreCompleto" formControlName="nombreCompleto" required>
            <span>Nombre completo</span>
          </label>
        </div>
        <div class="col-sm-7">
          <label class="floating floating-sm mb-2">
            <input type="number" class="form-control form-control-sm" placeholder="Ingrese su número" id="cedula"
              formControlName="cedula" required>
            <span>Cédula</span>
          </label>
        </div>
        <div class="col-sm-5">
          <label class="floating floating-sm">
            <input type="number" class="form-control form-control-sm" placeholder="Ingrese su nombre completo"
              id="abono" formControlName="abono" required>
            <span>Valor a pagar</span>
          </label>
        </div>
      </div>
    </form>

    <div *ngIf="cotizacion" class="alert alert-success" role="alert">
      <div class="row">
        <div class="col-md-12">
          <h6>Precio normal: <span class="float-end">{{cotizacion.valorSinDescuento | currency}}</span></h6>
          <ng-container *ngIf="esIgualAlTotal">
            <h6 *ngIf="cotizacion.descuentoLunes > 0">Descuento lunes: <span
                class="float-end">-{{cotizacion.descuentoLunes | currency}}%</span></h6>
            <h6 *ngIf="cotizacion.descuentoFinDeSemana > 0">Descuento fin de semana: <span
                class="float-end">-{{cotizacion.descuentoFinDeSemana | currency}}%</span></h6>
            <h6 *ngIf="moto.descuento > 0">Descuento moto: <span class="float-end">-{{moto.descuento |
                currency}}%</span>
            </h6>
            <h6 *ngIf="cotizacion.impuesto > 0">Impuesto: <span class="float-end">+{{cotizacion.impuesto |
                currency}}%</span></h6>
          </ng-container>
          <hr class="my-1">
          <h6>Valor final a pagar: <span class="float-end">{{valorFinalAPagar | currency}}</span></h6>
        </div>
      </div>
    </div>
    <button type="button" class="btn btn-success col-12" id="boton-comprar" (click)="guardar()">¡Me la compro!</button>
  </div>
</div>