<div class="container mt-3">
    <h3>Crear moto</h3>
    <hr>
    <form [formGroup]="motoFormulario" class="was-validated">
        <div class="row">
            <div class="col-5">
                <label class="floating">
                    <input type="text" class="form-control" placeholder="Ingresar el nombre de la moto" id="nombreMoto"
                        formControlName="nombreMoto" required>
                    <span>Nombre de la moto</span>
                </label>
            </div>
            <div class="col-5">
                <label class="floating">
                    <input type="text" class="form-control" placeholder="Ingresar la marca de la moto" id="marca"
                        formControlName="marca" required>
                    <span>Marca</span>
                </label>
            </div>
            <div class="col-2">
                <label class="floating">
                    <input type="number" class="form-control" placeholder="Cc de la moto" id="cc" formControlName="cc"
                        required>
                    <span>Cilindraje</span>
                </label>
            </div>
            <div class="col-4">
                <label class="floating">
                    <input type="text" class="form-control" placeholder="Ingresar el nombre de la foto"
                        id="nombreImagen" formControlName="nombreImagen" required>
                    <span>Nombre imagen</span>
                </label>
            </div>
            <div class="col-3">
                <label class="floating">
                    <input type="number" class="form-control" placeholder="Ingresar el precio en $USD" id="precio"
                        formControlName="precio" required>
                    <span>Precio</span>
                </label>
            </div>
            <div class="col-3">
                <label class="floating">
                    <input type="number" class="form-control" placeholder="Ingresar el % del descuento" id="descuento"
                        formControlName="descuento" required>
                    <span>Descuento</span>
                </label>
            </div>
            <div class="col-2">
                <label class="floating">
                    <select class="form-control" id="estado" formControlName="estado" required>
                        <option value="A">Activo</option>
                        <option value="I">Inactivo</option>
                    </select>
                    <span>Estado</span>
                </label>
            </div>
            <div class="col-4">
                <label class="floating">
                    <input type="number" class="form-control" placeholder="Ingresar la cantidad de unidades"
                        id="cantidad" formControlName="cantidad" required>
                    <span>Cantidad de unidades</span>
                </label>
            </div>
        </div>
    </form>
    <hr>
    <button type="button" class="btn btn-success col-3 float-end" (click)="guardar()">Guardar moto</button>
</div>