<div class="containe flex-box py-5 background">
    <div class="card-content" *ngFor="let moto of listaMotos">
        <div class="new-tag"  *ngIf="moto.descuento > 0">- {{moto.descuento}} %</div>
        <div class="contenedor-imagen">
            <img src="assets/images/{{moto.nombreImagen}}" class="new-img">
        </div>
        <h5 class="text-white">{{moto.marca}} {{moto.nombreMoto}}</h5>
        <p class="mb-0" style="color: antiquewhite;">{{moto.cc}} cc</p>
        <span class="text-white me-3 fs-5">{{moto.precio * ((100 - moto.descuento) / 100) | currency}}</span>
        <span *ngIf="moto.descuento > 0" class="new-discount">{{moto.precio | currency}}</span>

        <div class="new-button"> Comprar</div>
    </div>
</div>